
.container1 img {
  width: 100%;
  height: auto;
}

.container2 img{
    max-width: 100%;
    height: auto;
}

.container3 img {
  width: 100%;
  height: auto;
}

.container4 img{
    max-width: 100%;
    height: auto;
}

