*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
}

.pan1, .lechuga, .jamon, .queso, .tomate, .pan2{
    position: absolute;
    width: 200px;
    height: 200px;
}

.gato{
    width: 100px;
    height: 100px;
}

.chile{
    width: 50px;
    height: 50px;
}
.pan1{
    top: -20px;
    left: -10px;
}

.lechuga{
    left: 20px;
    top: 20px;
}

.jamon{
    left: 30px;
    top: 30px;
}

.queso{
    left: 40px;
    top:65px;
}

.tomate{
    left: 50px;
    top: 80px;
}

.pan2{
    left: 60px;
    top: 80px;
}

.mesa{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 70px;
    left: 20px;
    z-index:-1;
}

.silla{
    width: 400px;
    height: 600px;
    position: absolute;
    left: 450px;
    top: 10px;
}

.papas{
position: absolute;
left: 230px;
top: 180px;
width: 70px;
height: 90px;
}

.chile{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 210px;
    left: 300px;
}

.coca{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 170px;
    left: 320px;
}

.ketchup{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 170px;
    left: 400px;
}

.gato{
    width: 170px;
    height: 170px;
    position: absolute;
    top: 360px;
    left: 70px;
    z-index: -2;
}