/*

*/

.container img{
    width: 300px;
    height: 300px;
}

.container{
    position: relative;
}

.container .pan1{
    position: absolute;
    top: 60px;
    z-index: 1;
}

.container .jamon{
    position: relative;
    top: 70px;
    left: 30px;
    z-index: 2;
}

.container .queso{
    position: absolute;
    top: 100px;
    left: 65px;
    z-index: 3;
}

.container .pan2{
    position: absolute;
    top: 135px;
    left: 75px;
    z-index: 4;
}